<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sandeepjoshi1910.arxiv_explore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/arx_launcher"
        android:label="Arx Explore"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Services.GeneralService"
            android:exported="false" />

        <activity android:name=".ArticleList" />
        <activity android:name=".Article" />
        <activity android:name=".PDFView" />
        <activity android:name=".Utilities.ArticlesRetriever" />
        <activity android:name=".AuthorList" />
        <activity android:name=".BookmarkList"></activity>
    </application>

</manifest>